<hi>New Product</hi>

<form action="/products" method="post">
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Price: <input type="number" name="price">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <div>
    Discounted? <input type="text" name="is_discounted?">
  </div>
  <div>
    Supplier: <input type="text" name="supplier">
  </div>
  <div>
    Image URL: <input type="text" name="image_url">
  </div>
  <input type="submit" value="Create Product">

</form>